source https://www.nuget.org/api/v2
framework: net8.0

nuget FSharp.Core
nuget Avalonia.Desktop
nuget Avalonia.FuncUI
nuget Avalonia.FuncUI.Elmish
nuget Avalonia.BuildServices 0.0.29
nuget Avalonia.Themes.Fluent
nuget FsToolkit.ErrorHandling
nuget FsToolkit.ErrorHandling.TaskResult
nuget LibGit2Sharp
nuget Thoth.Json.Net

nuget Expecto
nuget YoloDev.Expecto.TestSdk
nuget Microsoft.NET.Test.Sdk